.w3-theme {
    color: #ffff !important;
    background-color: #000000 !important
}

.w3-code {
    border-left: 4px solid #000000
}

.w3-text-IE {
    color:#000000!important
}

.myMenu {
    margin-bottom: 150px
}

#Imagem {
    display: none
}

#imagemSelecionada {
    width: 20%;
    height: auto;
}